@charset "UTF-8";

.truste_box_overlay {
	display: none;
	background: rgba(0, 0, 0, 0) url("../IMG/get1.png") repeat scroll 0% 0%;
}

.truste_box_overlay:target, .truste_box_overlay:target + .truste_overlay {
	display: block;
}

.truste_overlay {
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
    position: fixed;
    z-index: 2000999998;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
	display: none;
}