body {
	padding-top: 50px;
	padding-bottom: 50px;
}

a {
	text-align: center;
	display: block;
}

.a1, .a2, .a3:visited, .a4:visited {
	color: blue;
}

.a1:visited, .a2:visited, .a3, .a4 {
	color: red;
}

.a1:hover {
	color: pink;
}

.a1:active {
	color: green;
}

.a2:hover {
	background: yellow;
}

.a3:hover {
	font-size: 150%;
}

.a4:hover {
	font-family: Comic Sans Ms;
}